.mapboxgl-ctrl-attrib {
  bottom: 35px;
  position: fixed;
  right: 0;
}

.mapboxgl-ctrl-scale {
  position: fixed;
  right: 190px;
  bottom: 5px;
  margin: 0 !important;
  z-index: 10000;
  border-color: var(--green-dark);
  color: var(--green-dark) !important;
  background-color: transparent;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  pointer-events: none;
  font-size: 12px;
  /* width: 310px !important; */
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
.main-map {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .main-map {
    /* we need this on mobile to allow the card to scroll down */
    overflow-y: scroll;
  }
}
.copy-url {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background: #0d864f;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  right: -10px;
  top: 5px;
  z-index: 100;
  font-size: 11px;
}
.imagery-pills {
  position: fixed;
  text-align: center;
  bottom: 55px;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: none; /* allow clicks to pass through */
}

.imagery-pills > * {
  pointer-events: auto; /* re-enable clicks on child elements */
}

.mapboxgl-canvas {
  background-color: transparent !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 60px 10px 0 0;
}

.geocoder-hidden {
  visibility: hidden;
}

.geocoder-toggle {
  position: absolute;
  top: calc(var(--top-navbar-height) + 10px);
  right: 10px;
  z-index: 1000;
  height: 36px;
  width: 29px;
  display: flex;
  justify-content: center;
  justify-items: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.geocoder-toggle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.geocoder-toggle:hover {
  opacity: 0.9;
}

@media (max-width: 600px) {
  .scale-control-wrapper {
    visibility: hidden;
  }
}

.amw-logo {
  position: fixed;
  top: 50px;
  left: 40px;
  z-index: 1000;
  display: block;
}
@media (max-width: 900px) {
  .amw-logo {
    left: 10px;
    top: 40px;
  }
}
.amw-logo img {
  width: 170px;
  height: 100px;
}
@media (max-width: 900px) {
  .amw-logo img {
    width: 70px;
    height: 60px;
  }
}

.mapboxgl-popup-content {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  background: #fff;
  color: var(--green-dark);
  font-weight: 500;
  border-radius: 5px;
  position: relative;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #fff;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #fff;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #fff;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #fff;
}
.mapboxgl-popup-tip {
  border: 14px solid transparent;
}
.mapboxgl-popup-close-button {
  color: #fff;
}

.map-tooltip,
.map-tooltip .mapboxgl-popup-content,
.map-tooltip .mapboxgl-popup-tip {
  pointer-events: none !important;
  font-size: 14px;
  color: var(--green-dark);
}

.map-tooltip-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2px;
}