NEXT_PUBLIC_DOMAIN=
NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_SENTINEL2_URL_1=
NEXT_PUBLIC_SENTINEL2_URL_2=
NEXT_PUBLIC_SENTINEL2_URL_3=
NEXT_PUBLIC_SENTINEL2_URL_4=
NEXT_PUBLIC_SENTINEL2_V2_URL_1=
NEXT_PUBLIC_SENTINEL2_V2_URL_2=
NEXT_PUBLIC_SENTINEL2_V2_URL_3=
NEXT_PUBLIC_SENTINEL2_V2_URL_4=
NEXT_PUBLIC_MINES_URL=
NEXT_PUBLIC_DATA_URL=

NEXT_PUBLIC_STRAPI_API_ENDPOINT=
NEXT_PUBLIC_STRAPI_READ_ONLY_API_TOKEN=

MINING_CALCULATOR_BASE_URL=
MINING_CALCULATOR_API_KEY=