.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.countryScoreSection {
  margin-bottom: 16px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  border-bottom-color: #fff !important;
}

.dimensionSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 72px;
}

.dimensionTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.dimensionSectionTitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.categoryChartsTitle {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 18px;
}

.categoryCharts {
  padding: 12px 0 12px 16px;
  border-left: 2px solid #e0e0e0;
}

.categorySection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.categoryTitle {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.categoryQuestionsSection {
  margin-top: 24px;
  margin-left: 24px;
}
