.yTicks {
  font-size: 12px;
  font-weight: 500;
  fill: var(--green-dark);
}

.bars {
  transition: "opacity 0.1s ease-in";
}

.xAxisLabels {
  font-size: 12px;
  font-weight: 500;
  fill: var(--green-dark);
}

.tooltip {
  position: fixed;
  transform: translateX(-50%) translateY(-100%);
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  pointer-events: none;
  white-space: nowrap;
  z-index: 10;
}

.tooltipYear {
  font-weight: 700;
  color: #fff;
  background: var(--green-light);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 4px 8px;
}

.tooltipBody {
  background: #fff;
  color: var(--green-dark);

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px 8px;
}

.tooltipArea {
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 20px;
}

.tooltipChange {
  font-size: 15px;
}

.tooltipArrow {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
