.dimensionSections {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.dimensionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.dimensionLink {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-right: 80px;
}

.dimensionLink:hover {
  text-decoration: underline;
}
