.card {
  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 280px;
  z-index: 500;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  background: var(--green-light);
  padding: 10px 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.closeButton {
  cursor: pointer;
  font-size: 20px;
}

.closeButton:hover {
  opacity: 80%;
}

.cardBody {
  background: var(--green-dark);
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.measureValue {
  font-size: 22px;
  font-weight: 800;
}

.measureLabel {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 2px;
}
