.detailsButton {
  background: none;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
}

.detailsButton:hover {
  text-decoration: underline;
}
