.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  background: #fff;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 32px;
  color: var(--green-dark);
  font-size: 12px;
}

.footer-units-select {
  border: none;
  color: var(--green-dark);
  font-size: 12px;
}

@media (max-width: 600px) {
  .footer {
    display: none;
  }
}
