.sectionTitle {
    border-bottom-color: #fff !important;
    margin-top: 48px;
}

.footerSection {
    margin-top: 48px;
    border-top: 3px solid #fff;
}

.footerSection a {
    color: #fff;
    text-decoration: underline !important;
    font-weight: 500;
}